<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.stbu.hotel.mapper.RecordsMapper">

    <insert id="addRecords" parameterType="com.cn.stbu.hotel.domain.Records">
        insert into records (records_id,user_id,records_type,records_budget,records_money,records_balance,records_remarks,records_date)
        values (#{records_id},#{user_id},#{records_type},#{records_budget},#{records_money},#{records_balance},#{records_remarks},#{records_date})
    </insert>

    <select id="findRecordsAll" parameterType="String" resultType="com.cn.stbu.hotel.domain.Records">
        select * from records
        where user_id=#{user_id}
        order by records_date desc
    </select>



</mapper>
