<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.stbu.hotel.mapper.UserMapper">

<!--    通过用户名获取用户-->
    <select id="getUserByUsername" resultType="com.cn.stbu.hotel.domain.User">
        select * from `users`
        where username = #{username}
    </select>
<!--    获取用户集合-->
    <select id="getUserList" resultType="com.cn.stbu.hotel.domain.User">
        select * from `users`
    </select>
<!--    通过用户id查询-->
    <select id="getUserByUid" resultType="com.cn.stbu.hotel.domain.User">
        select * from `users`
        where user_id =#{userId}
    </select>

    <!--    通过人脸记录id查询-->
    <select id="getUserByFid" resultType="com.cn.stbu.hotel.domain.User">
        select * from `users`
        where faceInfo_id =#{faceInfoId}
    </select>

<!--    删除-->
    <delete id="delUserByUid">
        delete from users
        where user_id =#{userId}
    </delete>
    <update id="updatePwd" parameterType="com.cn.stbu.hotel.domain.User">
        update users
        set password = #{password}, salt = #{salt}
        where user_id = #{userId}
    </update>
    <update id="updateHead" parameterType="com.cn.stbu.hotel.domain.User">
        update users
        set head_img = #{headImg}
        where user_id = #{userId}
    </update>
<!--    修改-->
    <update id="updateUser">
        UPDATE `users` SET
        `username` = #{username}, `password` = #{password}, `salt` = #{salt}, `real_name` = #{realName}, `gender` = #{gender},
        `head_img` = #{headImg}, `age` = #{age},  `faceInfo_id` = #{faceInfoId},`birth_date` = #{birthDate}, `IDcard` = #{IDCard},
        `phone` = #{phone},`email` = #{email}, `address` = #{address},`signature` = #{signature}
        WHERE `user_id` = #{userId}
    </update>
    <update id="updateAcc" parameterType="com.cn.stbu.hotel.domain.User">
        update users
        set account_id=#{accountId}
        where user_id=#{userId}
    </update>
<!--    增加用户-->
    <insert id="addUser">
        INSERT INTO `users`( `user_id`,`username`, `password`, `salt`, `real_name`,`gender`,`head_img`,`age`, `faceInfo_id`,`birth_date`, `IDcard`,
        `phone`, `email`,`address`,`signature`)
        VALUES (#{userId}, #{username}, #{password}, #{salt},#{realName}, #{gender},#{headImg},#{age}, #{faceInfoId}, STR_TO_DATE(#{birthDate},"%Y-%m-%d"), #{IDCard},
        #{phone}, #{email}, #{address} , #{signature})
    </insert>

</mapper>