<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频测试</title>
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/public.js"></script>
</head>
<body>
<p>
    <video id="video" width="480" height="320"  controls="controls">
        <source src="/video/test2.mp4" type="video/mp4">
    </video>
    <canvas id="canvas" width="480" height="320"></canvas>
</p >
<p id="result">
    <!--    打印图片url:<div id="url_text"></div>-->

</p>
</body>

<script>
    let video = document.getElementById('video');
    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');
    //设置定时执行 上传
    timer = window.setInterval(function(){
        context.drawImage(video,0,0, 480,320)
        UploadPic();
    },400)


    //上传图片到后台
    function UploadPic() {
        // Generate the image data（将Canvas的内容保存为图片借助toDataURL来实现） 方法返回一个包含图片展示的 data URI 。
        var Pic = document.getElementById("canvas").toDataURL("image/jpg");
        //对其进行base64编 之后的字符串
        Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "")
        // Sending the image data to Server
        $.ajax({
            type: 'POST',
            dataType:'json',
            async:'false',
            // url: "http://localhost:8080/uploadPhoto",
            url: "http://localhost:8081/api/detect",
            data: {"imageData": Pic},
            success: function (data) {

                // if(data===null){
                //     $("#result").html("无数据");
                // }else {
                //     var ttt = "";
                //     ttt += "<li>code: " + data.code + "</li><li>msg: " + data.msg + "</li>" +
                //         "<li>location: (" + data.data.left + "," + data.data.top + ")->(" + data.data.right + "," + data.data.bottom + ")" + "</li>";
                //     $("#result").html(ttt)
                // }
            }
        })
    }



</script>
</html>